.page-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  /* 🔑 스크롤 영역이 제대로 계산되도록 */
  min-height: 0;
  padding: 0;
  margin: 0;
}

/* vuetify 관련 component 스타일 재정의 */
/* Outlined 스타일의 v-text-field에서 테두리만 제거하는 클래스 */
.no-border-field .v-field__outline {
  display: none;
}
